<div class="col-md-12 admin-panel">

    <a class="col-md-4 admin-panel-item" class="product-image-container" href="/admin/categories">
        <img src="~/images/categories-icon.svg"class="not-found-icon" />
        <span class="row">Kategorijos</span>
    </a>
    
    <a class="col-md-4 admin-panel-item" class="product-image-container" href="/admin/product">
        <img src="~/images/product-icon.svg" class="not-found-icon" />
        <span class="row">Produktai</span>
    </a>
    
    <a class="col-md-4 admin-panel-item" class="product-image-container" href="/product/orders">
        <img src="~/images/order-icon.svg" class="not-found-icon" />
        <span class="row">Užsakymai</span>
    </a>

    <a class="col-md-4 admin-panel-item" class="product-image-container" href="/product/users">
        <img src="~/images/user-icon.svg" class="not-found-icon" />
        <span class="row">Vartotojai</span>
    </a>
</div>

