

@{
    ViewData["Title"] = "AdminProductView";
}

<h2>AdminProductView</h2>

<body>

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>SKU kodas</th>
                <th>Kategorijos ID</th>
                <th>Pavadinimas</th>
                <th>Kaina</th>
                <th>Nuolaida</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody id="productsTable"></tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>SKU kodas</th>
                <th>Kategorijos ID</th>
                <th>Pavadinimas</th>
                <th>Kaina</th>
                <th>Nuolaida</th>
                <th>Veiksmai</th>
            </tr>
        </tfoot>
    </table>

    <div class="fillingForm">

    </div>
</body>





