

@{
    ViewData["Title"] = "AdminProductView";
}

<h2>Prekių valdymas</h2>
<body>
    <button id="addProduct" type="button">Pridėti prekę</button>
    <button id="deleteCategory" type="button" onclick="deleteCategoryBar()">Pašalinti kategoriją</button>

    <button id="addProductExcel" type="button" onclick="uploadExcel()">Pridėti prekes Excel formatu</button>
    <input type="file" id="excelUpload" />


    <div id="CategoryDeletionBlock" hidden>
        <hr />
        <h3>Pasirinkite kategoriją, kurią norite pašalinti</h3>
        <div class="btn-group hierarchy-select" data-resize="auto" id="categoriesForDeletion">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="selected-label pull-left">&nbsp;</span>
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu open">
                <div class="hs-searchbox">
                    <input type="text" class="form-control" autocomplete="off">
                </div>
                <ul class="dropdown-menu inner deletionCategoriesList" role="menu"></ul>
            </div>
        </div>
        <a id="deleteSign" href="#/" onclick="deleteCategory()"><img src="../lib/Table/cross_red.png" height="30" width="30" alt="šalinti" /></a>
        <br />
        <hr />
    </div>

    <style>
        #addProduct, #deleteCategory #addProductExcel {
            color: white;
        }
    </style>



    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>SKU kodas</th>
                <th>Kategorija</th>
                <th>Pavadinimas</th>
                <th>Kaina</th>
                <th>Nuolaida</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody id="productsTable"></tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>SKU kodas</th>
                <th>Kategorija</th>
                <th>Pavadinimas</th>
                <th>Kaina</th>
                <th>Nuolaida</th>
                <th>Veiksmai</th>
            </tr>
        </tfoot>
    </table>

    <div class="fillingForm">

    </div>
</body>






