@{
    ViewData["Title"] = "Administratoriaus pultas";
}
<head id="headers">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $.noConflict();
            var table1 = $('#example').DataTable();
        });
        //var p = document.getElementById('#searchButton');
        //var save = style.cssText = document.defaultView.getComputedStyle(p, "").cssText;
        //var searchBtnStyle = $('#searchButton').attr('data-role', 'none');
        //console.log(searchBtnStyle);
    </script>
    
    <script src="~/lib/ChangeTab/sammy.js"></script>
    <script src="~/lib/ChangeTab/manageTabs.js"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="~/lib/CategorySelect/CategoryDeletion.js" type="text/javascript"></script>

    <script src="~/lib/Table/jquery.dataTables.js"></script>
    <script id="dtb1" src="~/lib/Table/dataTables.jquerui.js"></script>
    <script id="dtb2" src="~/lib/Table/dataTable.js"></script>
    <script src="~/lib/Table/editProduct.js"></script>

    <link rel="stylesheet" href="~/lib/ProductForm/productForm.css">
    <script src="~/lib/ProductForm/jquery-validate.js"></script>
    <script src="~/lib/ProductForm/jquery-validate.min.js"></script>
    <link rel="stylesheet" href="~/lib/Messages/css/jquery.notify.css">
    <script src="~/lib/Messages/js/jquery.notify.min.js"></script>

    <script src="~/lib/Table/manageUsers.js"></script>
    <link href="~/lib/Table/dataTable_1.css" rel="stylesheet">
    <link href="~/lib/Table/dataTable_2.css" rel="stylesheet">
    <script src="~/lib/Table/dataTablesTest.js"></script>

    <script src="~/lib/ConfirmationDialog/H-confirm-alert.js"></script>
    <link href="~/lib/ConfirmationDialog/DialogStyle.css" rel="stylesheet">
    <link href="~/lib/ConfirmationDialog/H-confirm-alert.css" rel="stylesheet">
    <script src="~/lib/ConfirmationDialog/ad.js"></script>

    <link rel="stylesheet" href="~/lib/ProductForm/productForm.css">
    <script src="~/lib/ProductForm/jquery-validate.js"></script>
    <script src="~/lib/ProductForm/jquery-validate.min.js"></script>
    <link rel="stylesheet" href="~/lib/Messages/css/jquery.notify.css">
    <script src="~/lib/Messages/js/jquery.notify.min.js"></script>

    <script src="~/lib/HorizontalTabs/jquery.responsiveTabs.js" type="text/javascript"></script>
    <script src="~/lib/HorizontalTabs/horizontalTabs.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="~/lib/HorizontalTabs/responsive-tabs.css" />
    <link type="text/css" rel="stylesheet" href="~/lib/HorizontalTabs/style.css" />

    <script src="~/lib/Order/manageOrders.js" type="text/javascript"></script>

    <script src="~/lib/CategorySelect/hierarchy-select.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/lib/CategorySelect/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/CategorySelect/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/lib/CategorySelect/pygments.css">
    <link rel="stylesheet" href="~/lib/CategorySelect/hierarchy-select.min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js"></script>

    


</head>
<body class="home">
    <h2>Administratorius</h2>
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html">
                        <img src="~/images/admin/admin_logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="~/images/admin/circle_purple.svg" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li id="productsTab"><a href="#/"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Prekės</span></a></li>
                        <li id="usersTab"><a href="#/Naudotojai"><i class="fa fa-users" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Naudotojai</span></a></li>
                        <li id="salesTab"><a href="#Nepatvirtinti"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Pardavimai</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">

                <div class="user-dashboard" id="main">


                </div>
            </div>
        </div>
    </div>

</body>
<style>
    .html-spinner {
        position: fixed;
        left: 50%;
        top: 40%;
        background-color: white;
        border-radius: 25px;
        height: 150px;
        width: 150px;
    }

    img.spinnerGif {
        position: absolute;
        left: 35px;
        top: 20px;
    }

    .spinnerText {
        position: absolute;
        left: 30px;
        top: 110px;
    }
</style>
<div hidden class="html-spinner">
    <img class="spinnerGif" src="~/lib/LoadingSpinner/spinner2.gif" width="80" height="80" />
    <div class="spinnerText">Prašome palaukti...</div>
</div>
