
@{
    ViewData["Title"] = "UserManagementView";
}

<h2>Naudotojų valdymas</h2>
<body>

    <table id="usersTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Naudotojo vardas</th>
                <th>El. paštas</th>
                <th>Užblokavimo statusas</th>
                <th>Veiksmas</th>
            </tr>
        </thead>
        <tbody id="usersTableBody"></tbody>
        <tfoot>
            <tr>
                <th>Naudotojo vardas</th>
                <th>El. paštas</th>
                <th>Užblokavimo statusas</th>
                <th>Veiksmas</th>
            </tr>
        </tfoot>
    </table>

    <div class="usersBanForm">

    </div>
</body>