@model FiveDevsShop.Models.DomainServices.CategoryTree.Node


<h4>@Model.Category.Title</h4>
@if(!Model.Children.Any())
{
    @Html.Partial("/Views/Shared/Components/Category/DeleteCategoryForm.cshtml", new CategoryDeleteViewModel()
    {
        Id = Model.Category.Id,
        Title =  Model.Category.Title
    })
    
}
@if (Model.Children.Any())
{
    <ul>
        @foreach (var child in Model.Children)
        {
            <li >
                @Html.Partial("/Views/Shared/Components/Category/AdminTree.cshtml", child)
                @Html.Partial("/Views/Shared/Components/Category/AddCategoryForm.cshtml", new CategoryAddViewModel()
                {
                    ParentId = null
                })
            </li>
        }
    </ul>
}
