@{
    ViewData["Title"] = "Blokuojama paskyra";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Ši paskyra yra blokuojama, prašome pabandyti vėliau.</p>
</header>
