@model CartEntry



<div class="cart-entry">
    <div class="s-buttons">
        <a href="@Url.Action("RemoveProduct","CartController", (new { skuCode = Model.SkuCode }))"><span class="glyphicon glyphicon-remove"></span></a>
    </div>

    <div class="s-image">
        <img width="200px" src=@Model.ImageUrl alt="" />
    </div>

    <div class="s-description">
        <span>@Model.Title</span>
    </div>


    <div class="s-quantity">
        <button class="minus-sbtn" type="button" name="button">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
        <input type="text" name="name" size="5" value=@Model.Amount />
        <button class="plus-sbtn" type="button" name="button">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>

    <div class="total-price">@Model.FinalPrice€</div>
</div>
