@model CategoryViewModel
@{
    if (Model.IsAtRoot)
    {
        ViewData["Title"] = "Kategorijos";
    }
    else
    {
        ViewData["Title"] = Model.Current.Title;
    }
}

@if (Model.IsAtRoot)
{
    <h2>Kategorijos</h2>
}
else
{
    <h3 class="category-breadcrumbs">
        @foreach (var category in Model.CategoryPath)
        {
            <span class="glyphicon glyphicon-menu-right"></span>
            <a asp-area="" asp-controller="Category" asp-action=@category.Id>@category.Title</a>
        }
    </h3>
    @if (Model.Subtrees.Any())
    {
        <h3>Subkategorijos</h3>
    }
}

@if (Model.Subtrees.Any())
{
    <div class="category-tree container">
        @foreach (var subtreeChunk in Model.Subtrees.Chunks(6))
        {
            <div class="row">
                @foreach (var subtree in subtreeChunk)
                {
                    <div class="top-level-subtree col-md-2">
                        <ul>
                            <li>
                                @Html.Partial("/Views/Shared/Components/Category/Tree.cshtml", subtree)
                            </li>
                        </ul>
                    </div>
                }
            </div>
        }
    </div>
}

<h3>Prekės</h3>

@Html.Partial("/Views/Shared/Components/Product/ProductList.cshtml", Model.Products)
