@model CartViewModel
@{
    ViewData["Title"] = "Krepšelis";
}

<h2>Krepšelis</h2>

@if (Model.Cart.Entries.Count == 0)
{
    <p>Jūsų krepšelis šiuo metu yra tuščias.</p>
}
else
{
    @foreach (var entry in Model.Cart.Entries.Values)
    {
        @Html.Partial("/Views/Shared/Components/Cart/CartEntry.cshtml", entry)
    }

    @if (Model.LoggedIn)
    {
        <a href="/payment">Apmokėti</a>
    }
    else
    {
        <p>Norėdami užsakyti prekes, <a href="/">prisijunkite.</a></p>
    }
}

