@model ShoppingCart
@{
    ViewData["Title"] = "Krepšelis";
}
<div class="shopping-cart">
    <h2>Krepšelis</h2>
    @if (Model.Entries.Count == 0)
    {
        <p>Jūs neturite prekių krepšelyje.</p>

    }
    else
    {




        @foreach (var entry in Model.Entries.Values)
        {

            @Html.Partial("/Views/Shared/Components/Cart/CartEntry.cshtml", entry)

        }
        <table>
            <tr>
                <td>
                    <p>Iš viso: @Model.TotalCost() Eur</p>
                </td>
            </tr>
        </table>
        <a href="/payment">Apmokėti</a>
    }

</div>