@model ProductSearchViewModel
@{
    ViewData["Title"] = "Ieškoti produkto";
}

<h2>Paieškos rezultatai: @Model.Query</h2>

@Html.Partial("/Views/Shared/Components/Product/ProductList.cshtml", Model.Products)
