@{
    ViewData["Title"] = "Kontaktai";
}
<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4>FiveDevsShop administracija</h4>

            <address>
                <strong>Adresas:</strong><br />
                Naugarduko g. 24<br />
                Vilnius, LT-03225<br /><br />
                <strong>Telefonas:</strong><br />
                +370123123132<br /><br />
                <strong>El. paštas:</strong><br />
                <a href="mailto:info@eshop.lt">info@eshop.lt</a>
            </address>
        </div>
        <div class="col">
            <img src="http://www.part.lt/img/1e166f40b600b4e33d34703ae8813d78355.png" />
        </div>
    </div>
</div>
<br />
<br />
